.tile-container {
    max-width: 740px;
    margin-left: auto;
    margin-right: auto;
}

.tile-board {
    display: grid;
    grid-template-columns: 185px 185px 185px 185px;
    text-align: center;
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;
}

@media screen and (max-width: 780px) {
    .tile-board {
        grid-template-columns: 185px 185px 185px;
    }
    .tile-container {
        max-width: 555px;
    }
}

@media screen and (max-width: 610px) {
    .tile-board {
        grid-template-columns: 185px 185px;
    }
    .tile-container {
        max-width: 370px;
    }
}

@media screen and (max-width: 420px) {
    .tile-board {
        grid-template-columns: 185px;
    }
    .tile-container {
        max-width: 185px;
    }
}