.tile {
    height: 200px;
    width: 175px;
    cursor: pointer;
    margin: 5px;
}

.tile-image {
    height: 100%;
    width: 100%;
    display: block;
    margin: 0 auto 20px;
    border: 0;
    box-shadow: 0 0 5px rgba(13, 189, 51, 0.918);
    opacity: 0;
    animation-name: bounceIn;
    animation-duration: 450ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: .5s;
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale(0.3) translate3d(0, 0, 0);
    }
    50% {
        opacity: 0.9;
        transform: scale(1.1);
    }
    80% {
        opacity: 1;
        transform: scale(0.89);
    }
    100% {
        opacity: 1;
        transform: scale(1) translate3d(0, 0, 0);
    }
}